button {
  z-index: 1;
  cursor: pointer;
  padding: 5px 12px;
  letter-spacing: 0.5px;
  border-radius: 8px;
  border: none;
  text-align: center;
  transition: 0.5s;
  font-size: 18px;
}

.button {
  color: #935cfe;
  background: var(--white-color);
}

.button:hover {
  background-color: transparent;
  color: var(--white-color);
}

.gradient-button {
  color: var(--white-color);
  background: linear-gradient(135deg, #6699ff 0%, #ff3366 100%);
}

.gradient-button:hover {
  background-color: #935cfe;
  color: var(--white-color);
}

.button a {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.gradient-button a {
  text-decoration: none;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.Special-button {
  display: flex; /* or display: grid; */
  justify-content: center; /* for horizontal centering */
  align-items: center; /* for vertical centering */
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 163.636px;
  background: #3772FF;
  color: #FFF;
  font-family: Assistant;
  font-size: 25.455px;
  font-style: normal;
  font-weight: 700;
  line-height: 29.091px;
  text-align: center;
  transition: 0.5s;
  cursor: pointer;
  padding: 5px 12px;
  letter-spacing: 0.5px;
  border: none;
}

.Special-button:hover {
  background: #FFF;
  color: #3772FF;
}

